
body{
background-color:darkslateblue;
}

.content{
border-width: 5px;
border-color: gold;
margin: 15px;
}

.hero-image {
background-image: URL(TPbox.jpg);
}

p {
font-family: 'Rock Salt', cursive;
color: red;

}

h1 {
font-family: 'Great Vibes', cursive;
color: gold;

}

a {

}

h3 {


}

h2{



}

h4{


}

span {


}

.circle-in {

}

#choreo {

}

#dancers {

}
